
<% @responses.each do |response| %>
  <a href="">Subject:<%= response["subject"] %> opened by <%= response["submitter_id"] %> on <%= Time.parse(response["created_at"]).strftime('%d.%m.%y')  %></p>
<% end %>




