<!DOCTYPE html>
<html>
<head>
  <title>Zendesk Ticket Viewer</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="outer">
  <h1>Welcome to the Zendesk Ticket Viewer</h1>
    <div id="tickets">
    <%= yield %>
    </div>
</div>



</body>
</html>
